<% content_for :title, "Recipes" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Recipes</h1>
    <%= link_to "New recipe", new_recipe_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
  </div>

  <div id="recipes" class="min-w-full">
    <% if @recipes.any? %>
    <% @recipe_categories.each do |category| %>
     <h2><%= category.category_name %></h2>
    <ol>
      <% category.recipes.each do |recipe| %>
        <%#= render recipe %>
        <li> <%= link_to recipe.recipe_name, recipe %>
      <% end %>
    </ol>
    <% end %>
    <% else %>
      <p class="text-center my-10">No recipes found.</p>
    <% end %>
  </div>
</div>
